body {
  font-family: time new roman;
  background: ;
  color: #EB6997 ;
  text-align: left;
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #15252b;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #F5CCD4;
}

.tooltip {
  position: absolute;
  width: 1F70px;
  height: 3F8px;
  pointer-events: none;
  background: white;
  position: absolute;			
  border: solid;		
  border-radius: 5px;	
  padding: 5px;
  font: 15px sans-serif;
 
}
