body {
  font-family: time new roman;
  background: ;
  color: #EB6997 ;
  text-align: left;
}
#name {
  font-family: time new roman;
  color: #EA5284;
}
.btext { 
  font-weight: bold;
}
#qu {
  font-style: italic;
}
